@charset "utf-8";
/* CSS Document */
/*font-family: 'Saira Condensed', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Changa', sans-serif; */

body
{
	width:100%;
	height: auto;
	top:0;
	margin:0;
	max-width:100%;
	background-color:black;
}
html
{
	height:auto;
}
.sticky
{
	position: fixed;
	top: 0;
}
.header
{
	height: 20vh;
}
.switch
{
	position: relative;
	display: inline-block;
	width: 4vw;
	height: 6vh;
}

.switch input {display:none;}

.slider
{
	margin:auto;
	position: absolute;
	cursor: pointer;
	height: 6vh;
	top: 15vh;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #9F9F9F;
	transition: .4s;
}

.slider:before
{
	position: absolute;
	top: 1.5vh;
	content: "";
	height: 3vh;
	width: 1vw;
	left: 0.5vw;
	right: 1vw;
	background-color: white;
	transition: .4s;
}
.icon
{
	width: 5vw;
}
.title
{
	font-family: 'Changa', sans-serif;
	min-height: 70px;
	z-index:1;
}
.fancy
{
	font-family: 'Great Vibes', cursive;
}
#footer
{
	background-color: white;
	width: 100%;
	font-family: 'Changa', sans-serif;
	padding:0;
	height: 20%;
}
.trademark
{
	height:20%;
	width: 50%;
	float:left;
	margin:0;
	padding:0;
	background-color: white;
}
.trademark p
{
	position:relative;
	left:2vw;
	width: 50%;
	margin:0;
	font-size:5vh;
	height:10vh
}
.social
{
	width:50%;
	float:left;
	height:20%;
}
.facebook
{
	height:10vh;
	background-color: blue;
	color:white;
	text-decoration: none;
	float:left;
	width: 50%;
	text-align:center;
	font-size: 5vh;
}
.facebook:hover
{
	background-color: white;
	transition: .3s;
	color:blue;
}
.twitter
{
	height:10vh;
	background-color: lightblue;
	color:white;
	text-decoration: none;
	float:left;
	width:50%;
	text-align:center;
	font-size: 5vh;
}
.twitter:hover
{
	background-color:white;
	transition: .3s;
	color:lightblue;
}
input:checked + .slider
{
	background-color: rgba(255,215,0,1.00);
}
input:checked + .slider:before
{
	transform: translateX(2vw);
}

#header
{
	position: sticky;
	background-color: rgba(0,0,0,0.40);
	width: 100%;
	top: 0;
	left: 0;
}
#headerLogo
{
	display: block;
}
#headerCentre
{
	position:relative;
	height: 20vh;
	width: 10vw;
	margin:auto;
}
#headerCentre a img
{
	margin:auto;
}
#headerLeft
{
	position: relative;
	left:3vw;
	float: left;
	width:auto;
	margin:auto;
	display:none;
}
#headerLeft h3
{
	position:relative;
	top:1vh;
	font-size: 5vh;
	color: silver;
	float:right;
	padding: 0 1vw;
}
#headerRight
{
	float: right;
	position:relative;
	bottom: 15vh;
}
#headerRight ul
{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	float:right;
	font-size: 5vh;
}
#headerRight li
{
	display:inline;
	margin:0vh .5vw;
	padding: 0vh .5vw;
}
#headerRight a
{
	color:white;
	padding: 0 1em;
	text-decoration: none;
}
#headerRight a:hover
{
	color: black;
	background-color:white;
	transition:.4s;
}
#introSection
{
	width: 100%;
	margin:auto;
	position:static;
	top:20vh;
	height: 160vh;
}
#introText
{
	position:absolute;
	top: 20vh;
	left: 3em;
}
#bannerImage
{
	width:100%;
	padding:0;
	margin:0;
	display:block;
	position:static;
}
@media only screen and (max-width: 600px)
{
	.trademark
	{
		width:100%;
	}
	.trademark p
	{
		width:100%;
		left: 0;
		text-align: center;
	}
	.social
	{
		float:left;
		text-align:centre;
		width:100%;
	}
	.twitter
	{
		width:50%;
		text-align: center;
	}
	.facebook
	{
		width:50%;
		text-align: center;
	}
	#headerLeft{display:none;}
	#colourStatus{display:none;}
	#headerLogo{position:relative; right:100%;}
}
.shopSlide
{
	display:none;
	transition: 2s;
	z-index: 0.1;
	opacity:0;
	margin:auto
	
}
.showing
{
	display:block;
	opacity: 1;
	z-index: 0.2;
	width: 50vw; 
}
#shopSlider
{
	height: auto;
	width:100%;
	background-color: black;
	position:static;
	margin:auto;
	padding:0 0 5% 0;
	color: white;
	text-align: center;
	font-family: 'Great Vibes', cursive;
}



#homework
{
	width:100%;
	height:300px;
	background-color: rgba(252,46,33,1.00);
	font-family: 'Saira Condensed', sans-serif;
	display: flex;
}
#homework h2{font-family: 'Great Vibes', cursive; font-size: 2em;}
#discovery
{
	width:100%;
	height:300px;
	background-color: rgba(152,152,160,1.00);
	font-family: 'Saira Condensed', sans-serif;
	display: flex;
}
#discovery h2{font-family: 'Great Vibes', cursive; font-size: 2em;}
#human
{
	width:100%;
	height:300px;
	background-color: black;
	font-family: 'Saira Condensed', sans-serif;
	color:white;
	display: flex;
}
#human h2{font-family: 'Great Vibes', cursive; font-size: 2em;}
#random
{
	width:100%;
	height:300px;
	background-color: rgba(227,177,82,1.00);
	font-family: 'Saira Condensed', sans-serif;
	display: flex;
}
#random h2{font-family: 'Great Vibes', cursive; font-size: 2em;}
.descriptionBox
{
	padding:2%;
}
@media only screen and (max-width: 1100px)
{
	#homework img
	{
		display:none;
	}
	#discovery img
	{
		display:none;
	}
	#human img
	{
		display:none;
	}
	#random img
	{
		display:none;
	}
}
@media only screen and (max-width: 750px)
{
	#homework
	{
		display:block;
		height:auto;
	}
	#discovery
	{
		display:block;
		height:auto;
	}
	#human
	{
		display:block;
		height:auto;
	}
	#random
	{
		display:block;
		height:auto;
	}
}
#map
{
	width:100%;
	height:400px;
}

#log
{
	height:auto;
	width:90%;
	padding:2%
}
#log h1{color:white; font-family: 'Great Vibes', cursive;}
#log h3{color:white; font-family: 'Saira Condensed', sans-serif;}
#response
{
	margin:1%;
	padding:0.2%;
}
#submit
{
	padding:0 2%;
}
#load
{
		padding:0 2%;
}
#youTube
{
	height: auto;
	width:100%;
	margin:auto;
}
#video
{
	height:10em;
	width: 20em;
}